<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>      
      <img src="assets/welcome-1.png"/>
      <h1>Seja bem vindo</h1>
      <p>Ao mais inovador e eficiente aplicativo de estacionamentos.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/ticket-machine.png"/>
      <p>O aplicativo possibilita verificar seus extratos de estacionamentos.</p>
    </ion-slide>
    <ion-slide>
      <h1>Pronto para começar?</h1>
      <ion-button shape="round" fill="outline" (click)="start()">Iniciar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>